@model _2013139171_ENT.VentaPaquete

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VentaPaquete</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ComprobantePago.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComprobantePago.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedioPago.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedioPago.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paquete.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paquete.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VentaPaqueteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
